.img_detail{
   width:500px;
 height:500px; 
   object-fit : cover;  
}
.box{
  width: 280px;
 height: 280px; 
 position: relative;
}
.img{
position: absolute;
   width:100%;
 height:100%; 
   object-fit : cover;  
}
/*마이페이지 구매,판매 찜 이미지  */
.mypage_img{
   width: 150px;
 height: 100px; 
   box-sizing: border-box; 
  object-fit : cover;  
}
 @media screen and (max-width: 1200px){
 .listBox{width: 33%; }
}
@media screen and (max-width: 992px){
 .listBox{width: 49%; }
}
@media screen and (max-width: 768px){
.box{
  width: 220px;
 height: 220px; 
 position: relative;
}
 .listBox{width: 49%;
 	 }
}
@media screen and (max-width: 576px){
 .box{
  width: 300px;
 height: 300px; 
 position: relative;
}
  .listBox{width: 100%;
  margin: auto;
 
  }
}