<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoebid.www.repository.AnswerDAO">
<insert id="insert" parameterType="avo">
	insert into answer (qno, writer, content)
	values (#{qno}, #{writer}, #{content})
</insert>
<select id="selectList" parameterType="long" resultType="avo">
	select a.qno, a.writer, a.ano, a.content, a.mod_at, m.nick_name
	from answer a inner join member m 
	on (a.writer = m.mno) 
	where qno = #{qno};
</select>
<update id="update" parameterType="avo">
	update answer set
	content = #{content}, mod_at = now()
	where ano = #{ano}
</update>
<delete id="delete" parameterType="long">
	delete from answer where ano = #{ano}
</delete>
</mapper>