<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoebid.www.repository.MemberDAO">
	<insert id="insert" parameterType="mvo">
		insert into member(id, email, pwd, nick_name, member_img)
		values (#{id}, #{email}, #{pwd}, #{nickName}, #{memberImg})
	</insert>

	<select id="selectOne" parameterType="mvo" resultType="mvo">
		select *
		from member
		where id = #{id}
		and pwd = #{pwd}
	</select>
	<select id="selectList" resultType="mvo" parameterType="pgvo">
		select
		a.mno, id, email, nick_name, grade, del_at, report_count
		from (
		select mno from member where mno > 0 and del_at is null order by mno
		limit #{pageStart}, #{qty}
		) a left join member b
		on a.mno = b.mno
	</select>
	<select id="selectDetail" resultType="mvo" parameterType="long">
		select * from member where mno = #{mno}
	</select>
	<select id="selectTotalCount" resultType="int">
		select count(mno) from member where del_at is null
	</select>
	<select id="selectId" resultType="int" parameterType="string">
		select count(id) from member where id = #{id}
	</select>
	<select id="selectNickName" resultType="int"
		parameterType="string">
		select count(nick_name) from member where nick_name = #{nickName}
	</select>
	<select id="selectEmail" resultType="int"
		parameterType="string">
		select count(email) from member where email = #{email}
	</select>
	<select id="selectLastMno" resultType="long">
		select max(mno) from member
	</select>
	<select id="selectReportCount" resultType="long">
		select count(mno)
		from report
		where mno = #{mno}
	</select>
	<select id="findId" resultType="String" parameterType="String">
		select id
		from member
		where email = #{email}
	</select>
	<select id="searchPwd" parameterType="mvo" resultType="mvo">
		select id, email
		from member
		where id = #{id} and email = #{email}
	</select>
	<select id="chooseNickName" parameterType="long" resultType="String">
		select nick_name
		from member
		where mno = #{mno}
	</select>
	
	
	<update id="modifyPwd" parameterType="mvo">
		update member set
		pwd = #{pwd}
		where id = #{id} and email = #{email}
	</update>

	<update id="update" parameterType="mvo">
		update member set
		mno = #{mno},
		id = #{id},
		pwd = #{pwd},
		nick_name = #{nickName},
		grade = #{grade},
		report_count = #{reportCount},
		member_img = #{memberImg}
		where mno = #{mno}
	</update>
	<update id="updateReportCount" parameterType="rpvo">
		update member set
		report_count = report_count +1
		where mno = #{targetMno}
	</update>

	<update id="delete" parameterType="mvo">
		update member set
		del_at = now()
		where mno = #{mno}
	</update>
</mapper>